@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Pridi:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Pridi:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    /* background-image: url('../Images/bg_pkg.jpg'); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#ffffff;
    margin-top:150px;
    
}

.main-content {
    margin: 0 100px 0 100px;
    padding: 0 0 3px 0;
    border: 2px solid rgba(255, 255, 255, 5);
    box-shadow: 0 0 30px rgb(193, 183, 239);
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

#mainTopic {
    font-family: Carter On;
    text-align: center;
    font-size: 5vw;
    margin: 0;
}

.description {
    font-family: Kalam;
    font-size: 1.2em;
    padding: 0 100px 0 100px;
}

.pack-heading {
    font-family: Vidaloka;
    text-align: center;
    font-size: 2.5em;
}

.packages {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 100px 0;
}

.pack-sub-head {
    font-size: 2em;
    text-align: center;
    font-family: Shrikhand;
}

.pack {
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 5);
    box-shadow: 0 0 30px rgb(193, 183, 239);
    border-radius: 20px;
    margin: 2vw;
    background: transparent;
    backdrop-filter: blur(20px);
    font-family: Pridi;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.pack:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}

li {
    font-size: 1.2em;
}

.price {
    font-size: 2em;
    text-align: center;
    font-family: Alkatra;
}

.pack-btn {
    padding: 20px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: 700;
    background-color: rgb(133, 107, 248);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.pack-btn:hover {
    background-color: rgb(6, 6, 41);
    color: aliceblue;
    font-weight: 600;
}

.sub-content {
    display: flex;
    margin: 10px 2px 20px 2px;
}

.mem-sub-head {
    font-family: Vidaloka;
    text-align: center;
    font-size: 30px;
}

.mem-details {
    flex: 1;
    border: 2px solid rgba(255, 255, 255, 5);
    box-shadow: 0 0 30px rgb(193, 183, 239);
    border-radius:20px;
    background: transparent;
    backdrop-filter: blur(10px);
    margin: 50px;
    padding: 10px 0 0 0;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
}

.shield {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 1vh 2vh;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.ben-details {
    flex: 1;
    border: 2px solid rgba(255, 255, 255, 5);
    box-shadow: 0 0 30px rgb(193, 183, 239);
    border-radius:20px;
    background: transparent;
    backdrop-filter: blur(10px);
    margin: 50px;
    padding: 10px 20px 20px 50px;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
}

.ben-sub-head {
    font-family: Vidaloka;
    text-align: center;
    font-size: 30px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
}

.ic {
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 0 0 ;
}

.ic-img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.ic-des {
    font-size: 1em;
    font-weight: 550;
    text-align: center;
    font-family: arial;
}

.mem-des {
    font-family: arial;
    font-weight: 600;
    font-size: 1.1em;
}

span {
    font-size: 30px;
    color: rgb(11, 11, 100);
    font-style: italic;
}